<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
<title>АВТ ВоГТУ - О системе</title>
<link rel="STYLESHEET" type="text/css" href="/main.css">
</head>
<body>
<h2><center>О системе</center></h2>
<br>
<b>Дистанционный лабораторный практикум по программированию.</b><br> Разработчик - Носов Денис Александрович, выпускник (в настоящее время - аспирант) кафедры АВТ.
<br><br>
<b>Подсистема проведения турниров.</b><br> Разработчик - Смоленцев Константин Николаевич, выпускник кафедры АВТ ВоГТУ.
<br><br>
<b>Подсистема проверки задач по языку SQL.</b><br> Разработчик - Шадрин Иван Васильевич, выпускник кафедры АВТ ВоГТУ.
<br><br>
<b>Подсистема проверки решений под виртуальной машиной VMWare <i>(для курса "Разработка административных сценариев")</i></b><br> Разработчики - Нгуен Павел Зунгович, Мельников Александр Сергеевич, студенты кафедры АВТ ВоГТУ.
<br><br>
Изначально целью разработки была подготовка к олимпиадам по программированию. В настоящее время система также успешно 
используется на лабораторных работах по курсам "информатика", "программирование на языке высокого уровня", "структуры и алгоритмы обработки данных".
<br><br>
Планируется добавить:
<ul>
<li> интеграцию проверяющей системы с электронными учебными курсами [частично выполнено]
<li> поддержку курса "объектно-ориентированное программирование на C++" [выполнено]
<li> поддержку курса "программирование баз данных" (применительно к СУБД Oracle) - к концу весны 2007 [выполнено]
<li> поддержку других языков программирования <!--(Java, VBScript, JScript, Perl, PHP, C#)-->
<li> поддержку курса "основы написания административных сценариев для ОС Windows" (VBScript, ADSI, WMI)" [выполнено, банк задач пополняется]
<li> ряд задач на разработку криптографических алгоритмов для курса "методы и средства защиты компьютерной информации"
</ul>
<br>
Разработка получила 1-е место на <a href=http://sno.vstu.edu.ru/?mod=article&topicid=7>Региональном межвузовском конкурсе компьютерных программ</a> в 2006 году в номинации "Информационные технологии обучения".
<br>Подсистема выполнения кода под виртуальными машинами получила 2-е место среди коллективных работ на Всероссийском конкурсе компьютерных программ в 2007 году в аналогичной номинации.
<br><br>
Некоторые публикации:
<ul>
<li>
Носов Д.А. Дистанционный практикум по программированию на основе автоматизированной проверяющей системы. /
Молодые исследователи - региону: материалы всероссийской научно-технической конференции студентов и аспирантов - Вологда: ВоГТУ, 2006. Т.1 - 319с.
</li>
<li>
Андрианов И.А., Ржеуцкая С.Ю. Опыт проведения занятий по программированию в форме on-line-соревнований / 
Модернизация образования. Региональный аспект: материалы второй всероссийской научно-методической конференции  - Вологда: ВоГТУ, 2004. - 255с.
</li>
<li>
Андрианов И.А., Минин В.Н. Одна задача обработки исходных текстов в автоматизированных системах обучения программированию /
Современные технологии обучения: международный опыт и российские традиции "СТО-2005": материалы XI международной конференции - Санкт-Петербург: СПбГЭТУ("ЛЭТИ"), 2005. - Т.1 - 253 с.
</li>
<li>
Андрианов И.А. Применение обобщенных суффиксных деревьев для анализа программного кода при обучении программированию /
Применение новых технологий в образовании: материалы XVI Международной конференции - Троицк: Тровант, 2005. - 451с.
</li>
</ul>
</body>
</html>
