<head>
<title>АВТ ВоГТУ - Решение задач на Ассемблере</title>
<style>
body {background: #CFCFCF; font-size:12pt; color: black; }
</style>
</head>

<body>
<h2 align=center>Решение задач на Ассемблере</h2>
Пример решения задачи A+B:<br>
<table><tr><td>
<div class="code_box"><pre><code class="asm">    include \masm32\include\masm32rt.inc

    .data

in_format db "%d %d", 0
out_format db "%d", 0
bytes_read dd 1
var_a dd 1
var_b dd 1
buffer db 128 dup(?)

    .code
    
start:
        invoke GetStdHandle, STD_INPUT_HANDLE
        invoke ReadFile, EAX, ADDR buffer, 128, ADDR bytes_read, 0
        invoke crt_sscanf, ADDR buffer, ADDR in_format, ADDR var_a, ADDR var_b
        mov eax, var_a        
        add eax, var_b
        invoke crt_sprintf, ADDR buffer, ADDR out_format, eax
        print ADDR buffer
        exit
   
end start</code></pre></div>
</td></tr></table>
При вводе с консоли программа требует, чтобы оба входных числа стояли в одной строке. Однако, при перенаправлении
ввода из файла это ограничение снимается, и программа работает и когда каждое число стоит в отдельной строке.<br><br>
Продолжение следует...
</body>
