<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title> Регистрация учасника </title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>

    $include_file("head_ru.html")

  <h2 align=center>Ответ регистрации</h2>
  <h3 align=center>$author_name! Вы успешно загеристрировались в системе</h3>
  <h1 align=center>Теперь необходимо <a href="/cgi-bin/arh_problems.pl?re_login=$random_re_login">войти с паролем</a></h1>
    $include_file("down_part_ru.html")

 </body>
</html>