<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title> Author register </title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>

    $include_file("head_en.html")

  <h2 align=center>Register request</h2>
  <h3 align=center>$author_name! Your registred in system.</h3>
  <h1 align=center><a href="/cgi-bin/arh_problems.pl?re_login=$random_re_login">Login</a></h1>

    $include_file("down_part_en.html")

 </body>
</html>