<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>AVT VSTU - Server error </title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

<body>

    $include_file("head_en.html")

<h1 align="center">Server error</h1>
<br><hr>
<strong><font color="#FF0000">$err_text</font></strong>
<br><hr>
Admin e-mail <a href="mailto:avt@vstu.edu.ru">avt@vstu.edu.ru</a> <br>
Back to <a href="/">main</a> <br>
Back to <a href="javascript:history.back(1)">back</a> <br>

    $include_file("down_part_en.html")

</body>
</html>
