<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>АВТ ВоГТУ - Ошибка сервера</title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

<body>

    $include_file("head_ru.html")

<h1 align="center">Ошибка сервера</h1>
<br>


<hr>
<strong><font color="#FF0000">$err_text</font></strong>
<br><hr>
Написать письмо администратору <a href="mailto:avt@vstu.edu.ru">avt@vstu.edu.ru</a> <br>
Вернуться <a href="/">на главную</a> <br>
Вернуться <a href="javascript:history.back(1)">назад</a> <br>
    $include_file("down_part_ru.html")

</body>
</html>
