<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title> Search authors </title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>

    $include_file("head_en.html")
    <h2 align=center>Search authors</h2>
    <table class="tbbd2" WIDTH="100%" border=1 align=center cellspacing=1>
    <tr>
    <TH ALIGN=CENTER WIDTH=170>Country</TH>
    <TH ALIGN=CENTER WIDTH="*">Author</TH>
    <TH ALIGN=CENTER WIDTH=100>Solved</TH>
    <TH ALIGN=CENTER WIDTH=100>Submissions</TH>
    </tr>
     $insert_search_list
    </table>
    
    $include_file("down_part_en.html")
</body>
</html>
