<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>Поиск авторов</title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>

    $include_file("head_ru.html")
    <h2 align=center>Поиск авторов</h2>
    <table class="tbbd2" WIDTH="100%" border="1" align="center" cellspacing="1">
    <tr>
    <TH ALIGN="CENTER" WIDTH="170">Страна</TH>
    <TH ALIGN="CENTER" WIDTH="*">Автор</TH>
    <TH ALIGN="CENTER" WIDTH="100">Решено</TH>
    <TH ALIGN="CENTER" WIDTH="100">Послано</TH>
    </tr>
     $insert_search_list
    </table>
    $include_file("down_part_ru.html")
 </body>
</html>
