<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>Access denied of source</title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>
    $include_file("head_en.html")
    <h2 align=center>Access denied of source</h2>
    <table class="other" align="center" border="0"><tr><td>Viewing is authorized: $who_view</td></tr></table>
    $include_file("down_part_en.html")

 </body>
</html>

<!--
  НЕ УДАЛЯТЬ - ЭТО ИСПОЛЬЗУЕТСЯ СКРИПТОМ
  $view_all = {all registered on this site}
  всем зарегистрированным на этом сайте
  $view_solved = {all solved problem <a class="bl_lnk" href=/cgi-bin/arh_problems.pl?id_prb=$id_problem>$id_problem</a>}
  всем решившим задачу
  $view_author = {only author of source}
  только автор исходника
  просмотр разрешон
-->