<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>Доступ к исходнику запрещен</title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>
    $include_file("head_ru.html")
    <h2 align=center>Доступ к исходнику запрещен</h2>
    <table class="other" align="center" border="0"><tr><td>Просмотр разрешён: $who_view</td></tr></table>

    $include_file("down_part_ru.html")
 </body>
</html>

<!--
  НЕ УДАЛЯТЬ - ЭТО ИСПОЛЬЗУЕТСЯ СКРИПТОМ
  $view_all = {всем зарегистрированным на этом сайте}
  $view_solved = {всем решившим задачу <a class="bl_lnk" href=/cgi-bin/arh_problems.pl?id_prb=$id_problem>$id_problem</a>}
  $view_author = {только автору исходника}
-->