<html>
<head>
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1251">
<title>Дистанционный практикум по программированию</title>
<link rel="STYLESHEET" type="text/css" href="/main.css">
<link rel="stylesheet"
	href="/jsscripts/jquery-ui-themes-1.10.3/themes/smoothness/jquery-ui.css" />
<script src="/jsscripts/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
<script src="/jsscripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script type="text/javascript" src="/jsscripts/themes.js"></script>
<link rel="STYLESHEET" type="text/css" href="/jsscripts/styles.css">
</head>
<body>
    
    $include_file("head_ru.html")
    <div  class = "themes_content" > 
    <h2 align="center">Назначенные задачи</h2>
    <input type ="hidden" name ="language" value = "$insert_lang">
    <table class = "themesTable">
    <col id ="c_one">
    <col id = "c_two" >
    <tr>
    	<th></th>
    	<th>Название темы</th>
    </tr>
    </table>
    $insert_thema_list
    </div>
	$include_file("down_part_ru.html")

 </body>
</html>

