<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <title>Просмотр исходника проверяющей программы</title>
   <link rel="STYLESHEET" type="text/css" href="/main.css">
 </head>

 <body>
    $include_file("head_ru.html")
    <h2 align="center">Просмотр исходника проверяющей программы</h2>
    <table class="other" align="center" border="0" cellpadding="5">
       <tr>
         <td><hr>$chk_name<hr></td>
         </tr>
    </table>

      <table width="100%" border="0" class="other"> <tr align="left"><td>
         <a href="/cgi-bin/edit_problem.pl?mode=new">Вернуться к созданию задачи</a>
       </td></tr></table>

    <table class="srctxt" width="100%" border="0">
       <tr><td>
    <table class="srctxt" align="center" border="0">
       <tr>
         <td><pre>$source_text</pre></td>
       </tr>
    </table>
       </td></tr>
    </table>
      <table width="100%" border="0" class="other"> <tr align="left"><td>
         <a href="/cgi-bin/edit_problem.pl?mode=new">Вернуться к созданию задачи</a>
       </td></tr></table>

    $include_file("down_part_ru.html")
    
 </body>
</html>
