</td></tr><tr><td valign="bottom">
    
<table class="other" width="100%" border="0" align="center" cellpadding="1">

<!--debug-->
<tr>
<td align=center style="color:black" >
<font size=3><i>
We can all benefit by doing occasional "toy" programs, when artificial restrictions are set up, so that we are forced to push our abilities to the limit. The art of tackling 
miniproblems with all our energy will sharpen our talents for the real problems. <b>Donald E. Knuth.</b>
</i></font>
</td>

</tr>


<tr>
<td align="right" valign="bottom" height="40"><em>time generating </em><strong>$time_gen</strong><em> sec.</em></td>
</tr>
<tr>
<td align="center">© Copyright <a href="http://www.vstu.edu.ru/">VSTU</a>, <a href="http://atpp.vstu.edu.ru/">AVT</a>, <a href="mailto:dens-spam@yandex.ru">Nosov D.A.</a></td>
</tr>
</table>

</td></tr></table>
