<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>$u_title</title>
<link rel="STYLESHEET" type="text/css" href="/main.css">
<link rel="STYLESHEET" type="text/css" href="/color_lang.css">
<script type="text/javascript" src="/highlight.js"></script>
<script type="text/javascript">
  initHighlightingOnLoad('cpp','delphi','sql','javascript','vbscript','asm','java','html');
</script>
</head>
<body>
$include_file("head_ru.html")
$u_body
$include_file("down_part_ru.html")
</body>
</html>
