<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
<title>АВТ ВоГТУ - Схема данных БД "Автовокзал"</title>
<style>
body {background: #CFCFCF; font-size:12pt; color: black; }
</style>
</head>
<body>

<h2 align=center>Схема данных БД "Автовокзал"</h2>
Особенности отправки SQL-запросов в проверяющую систему смотрите в <a href="/cgi-bin/plain_text.pl?url=/faq.html#sql">FAQ</a>.<br>
В частности, всем вычисляемым полям необходимо явно давать имена длиной до 30 символов, например, так:
<table><tr><td>
<div class="code_box"><pre><code class="sql">select min(price) as minpr from km_prices</code></pre></div>
</td></tr></table>
<br>
Схема данных представлена на следующем рисунке:
<p align=center style='text-align:center'><img src="/problems/sql/image001.gif"></p>
<br>
<style>
ol li {font-size:14pt; margin:20px;}
ol ul li {margin:5px;font-size:12pt;}
</style>
<ol style="">
<li>km_prices (расценки за километр)
<ul>
<li>class(класс автобуса)
<li>price (цена за км для данного класса)
</ul>
<li>models (марки или модели автобусов) 
<ul>
<li>cod_model (код, суррогатный ключ)
<li>name_model (название, атрибут носит справочный характер)
<li>places (количество мест в автобусах данной марки)
<li>class (класс комфортности)
</ul>
<li>buses (автобусы)
<ul>
<li>cod_bus (код автобуса, возможно его инвентарный номер)
<li>bus_number (номер ГИБДД, атрибут носит чисто справочный характер)
<li>cod_model (марка автобуса, внешний ключ)
</ul>
<li>points (населенные пункты)
<ul>
<li>cod_point (код, суррогатный ключ)
<li>name_point (название)
<li>distance (расстояние от пункта отправления)
</ul>
<li>routes (маршруты)
<ul>
<li>cod_route (код, суррогатный ключ)
<li>name_route (название маршрута)
</ul>
<li>points_routes (связь между пунктами и маршрутами)
<ul>
<li>cod_point (код пункта, внешний ключ)
<li>cod_route (код маршрута, внешний ключ)
</ul>
<li>trips (рейсы)
<ul>
<li>cod_trip (код рейса, суррогатный ключ)
<li>week_day (день недели)
<li>hour (часы)
<li>minute (минуты)
<li>cod_route (код маршрута)
<li>cod_bus (код автобуса, назначенного на данный рейс)
<li>tickets (количество проданных билетов)
</ul>
</ol>

<h3>Некоторые пояснения.</h3>
Пункты и маршруты имеют связь "Многие-ко-Многим" (через каждый пункт может проходить несколько маршрутов и каждый маршрут имеет несколько остановок). Для этого служит таблица-связка points_routes.<br><br>
Сущность trips (рейсы) связывает сущности Маршруты и Автобусы, дополняя их такими важными атрибутами как время отправления. Здесь же фиксируется и количество проданных билетов на каждый рейс (после отправления рейса поле обнуляется).<br><br>
Дни недели в trips - числа от 1 до 7, где 1 - понедельник, 2 - вторник и т.д.<br><br>
Номера и марки автобусов, названия маршрутов, названия населенных пунктов уникальны<br><br>
Допустимо наличие маршрутов, не используемых ни в одном рейсе. Могут быть населённые пункты, не используемые ни в одном маршруте, маршруты, в которые ещё не включены никакие пункты, автобусы, не задействованные ни в одном рейсе. Аналогично, в базе может содержаться марка автобуса, но не быть ни одного автобуса такой марки.<br><br>

</body>
</html>
