<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
<title>АВТ ВоГУ - О системе</title>
<link rel="STYLESHEET" type="text/css" href="/main.css">
</head>
<body>
<h2><center>О системе</center></h2>
<br><br>
<b>Дистанционный лабораторный практикум по программированию.</b><br> Разработчик - Носов Денис Александрович, выпускник кафедры АВТ.
<br><br>
<b>Подсистема проведения турниров.</b><br> Разработчик - Смоленцев Константин Николаевич, выпускник кафедры АВТ ВоГУ.
<br><br>
<b>Подсистема проверки задач по языку SQL.</b><br> Разработчик - Шадрин Иван Васильевич, выпускник кафедры АВТ ВоГУ.
<br><br>
<b>Подсистема проверки решений под виртуальной машиной VMWare <i>(для курса "Разработка административных сценариев")</i></b><br> Разработчики - Нгуен Павел Зунгович, Мельников Александр Сергеевич, выпускники кафедры АВТ ВоГУ.
<br><br>
Изначально целью разработки была подготовка к олимпиадам по программированию. В настоящее время система также успешно 
используется на лабораторных работах по курсам "информатика", "программирование на языке высокого уровня", "структуры и алгоритмы обработки данных",
"объектно-ориентированное программирование","программирование баз данных", "основы написания административных сценариев для ОС Windows".
<br>
Разработка получила 1-е место на <a href=http://sno.vstu.edu.ru/?mod=article&topicid=7>Региональном межвузовском конкурсе компьютерных программ</a> в номинации "Информационные технологии обучения".
<br>Подсистема выполнения кода под виртуальными машинами получила 2-е место среди коллективных работ на Всероссийском конкурсе компьютерных программ в аналогичной номинации.
<br><br>
</body>
</html>
