<head>
<title>АВТ ВоГУ - Решение задач на Free Basic</title>
<style>
body {background: #CFCFCF; font-size:12pt; color: black; }
</style>
</head>

<body>
<h2 align=center>Решение задач на Free Basic</h2>

Пример решения задачи A + B:<br>
<table><tr><td>
<div class="code_box"><pre><code>dim a as long, b as long
input "", a, b
print a + b
end
</code></pre></div>
</td></tr></table>

Альтернативный вариант:<br>
<table><tr><td>
<div class="code_box"><pre><code>input "", a&, b&
print a& + b&
</code></pre></div>
</td></tr></table>
<br>

Параметры командной строки компилятора:<br>
<code>fbc -lang qb name.bas</code>

</body>
