<head>
<title>АВТ ВоГУ - Решение задач на Python</title>
<style>
body {background: #CFCFCF; font-size:12pt; color: black; }
</style>
</head>

<body>

<h2 align=center>Решение задач на Python 2</h2>
Пример решения задачи A+B:<br>
<table><tr><td>
<div class="code_box"><pre><code class="basic">   
print sum(int(x) for x in raw_input().split(' '))
</code></pre></div>
</td></tr></table>
<br><br>


<h2 align=center>Решение задач на Python 3</h2>
Пример решения задачи A+B:<br>
<table><tr><td>
<div class="code_box"><pre><code class="basic">   

str = input ()
elem = str.split (' ')
a = int (elem [0])
b = int (elem [1])
print (a + b)
</code></pre></div>
</td></tr></table>
<br><br>

</body>
